.navbar-brand{
  letter-spacing: 0.2rem;
}

.nav-item:hover{
  background-color: red;
  border-radius: 1px;
}
.navbar-nav{
  letter-spacing: 0.3rem;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
#alink:hover{
  text-decoration: none;

}
.card_cont:hover{
  border: 1px solid;
  box-shadow: 5px 10px #888888;
  width: 20rem;

}
.card-img-top{
  border: none;
   border-radius: 0px;
  padding: 0px;
}
.sidebar{
  height: 580px;
  background: #141414;
  width: 340px;
  position: fixed;
  display: none;
}

.footer_bg{
  background-image: url("https://images.unsplash.com/photo-1608501773255-d8cd9e5ba968?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");

}
.slider_back{
  background-image: url("https://images.unsplash.com/photo-1556139930-c23fa4a4f934?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  height:470px;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}
.slider{
  padding-top: 10px;

}
.carousel-item{
  height: 28rem;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.top-list{
  list-style-type: none;
  margin-left: -60px
}
.top-list li{
  padding-bottom: 8px;
  padding-top: 8px;
  border: 1px gray solid;
}
.info-sec{
  padding-top: 20px;
  padding-bottom: 20px;
}






/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
   /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#hamburger{
  transition: transform 0.5s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
