{% extends 'home/basic.html' %}



{% load static %}


	<link href="{% static 'main/css/materialize.css' %}" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% block contact_body %}

<div class ="container-fluid cont1 mt-5">
    <div class="row justify-content-end">

        <div class="col-9">
          <h1>Contact Us</h1>


          </div>
          </div>
          </div>



{% endblock %}
