{% extends 'home/basic.html'%}
{% block event_detail %}
<section>

                  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/media/{{Event.0.image}}" class="d-block w-100 p-0" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <span class="captions">{{Event.0.Event_name}}</span><br>
                          <span class ="captions2">{{Event.0.Event_category}}</span><br>
                          <span class ="captions2">{{Event.0.Date}}</span><br>

                          <button type="button" class="btn btn-danger mt-4">See more</button>
                        </div>
                      </div>
                      <div class="carousel-item">
                      <img src="https://images.unsplash.com/photo-1534759878380-4cfbfe0371dd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=747&q=80" class="d-block w-100 p-0 h" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <span class="captions">{{Event.0.Event_name}}</span><br>
                        <span class ="captions2">{{Event.0.Date}}</span><br>
                        <button type="button" class="btn btn-danger mt-4">See more</button>
                      </div>
                      </div>
                      <div class="carousel-item">

                        <img src="https://images.unsplash.com/photo-1609602726003-77a7bf096919?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100 p-0" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <span class="captions">First slide label</span><br>
                            <span class ="captions2">Some representative placeholder content for the first slide.</span><br>
                            <button type="button" class="btn btn-danger mt-4">See more</button>
                          </div>
                      </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  </section>
<section>
  <div class="container-fluid  p-5">
    <div class="row justify-content-center ">
      <div class="col-6">
        <h4>{{Event.0.Description}}</h4>

      </div>
      <div class="col-4">
        <span>Event type: {{Event.0.Event_type}}</span><br>
        <span>Entry Fee: {{Event.0.Entry_fee}}</span><br>
        <span>Prize Money: {{Event.0.Prize}}</span><br>
        <span>Venue: {{Event.0.Venue}}</span><br>
        <span>City: {{Event.0.City}}</span><br>

      </div>
    </div>

      <div class="row">
        <div class="col-3">




        </div>


      </div>

      </div>
</section>
{% endblock %}
