body{
    background-color:#242424;
    color:white;
}
.form ul{
display: none;
}
.navbar-brand{
  letter-spacing: 0.2rem;
}

.nav-item:hover{
  transform: scaleY(1.2) scaleX(1.2);


}
.footer_img{
  width : 100%;
  height : 400px;
  background-image: url('https://images.unsplash.com/photo-1583906326446-7b35b961fef0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
  background-size: 100%;
}
.navbar-nav{
  letter-spacing: 0.3rem;
  font-weight: bold;
}
.nav-link {
    color: white;
}
.nav-link:hover {
  color:white;
}

.card_cont:hover{
  border : 1px solid #888888;
  box-shadow: 8px 8px #000000;
  width: 20rem;
  transition: transform 0.3s;
  transform: scaleY(1.1) scaleX(1.1);

}
.card-img-top{
  border: none;
   border-radius: 0px;
  padding: 0px;
}





.carousel-control-next, .carousel-control-prev{

  width:10%;
}
.carousel-item{
  height:40rem;
}

.carousel-caption {
    position: absolute;
    right: 50%;
    bottom: 25%;
    top:35%;
    left: 10%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: start;
    animation-name: caption_anima;
    animation-duration: 2s;

}
@keyframes caption_anima {
  from {left:50%;right:10%;}
  to {left:10%;right:50%;}

}

.captions{
  font-size: 4rem;
}
.captions2{
  font-size: 2rem;
}






/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
   /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background:#111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */


}


/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#hamburger{
  transition: transform 0.5s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.btn-danger{
  background: linear-gradient(to left, #000000 -3%, #ff0000 100%);
}
.btn-danger:hover {

  animation-name: button_anime;
  animation-duration: 1s;



}
@keyframes button_anime {
  0% {background: linear-gradient(to right, #000000 -3%, #ff0000 100%);}
  10% {background: linear-gradient(to right, #000000 10%, #ff0000 100%);}
  20% {background: linear-gradient(to right, #000000 20%, #ff0000 100%);}

  30% {background: linear-gradient(to right, #000000 30%, #ff0000 100%);}
  40% {background: linear-gradient(to right, #000000 40%, #ff0000 100%);}
  50  {background: linear-gradient(to right, #000000 50%, #ff0000 100%);}
  60% {background: linear-gradient(to right, #000000 60%, #ff0000 100%);}
  70% {background: linear-gradient(to right, #000000 70%, #ff0000 100%);}
  80% {background: linear-gradient(to left, #000000 30%, #ff0000 100%);}
  90% {background: linear-gradient(to left, #000000 20%, #ff0000 100%);}
  100 {background: linear-gradient(to left, #000000 -3%, #ff0000 100%);}

}
